
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
      <div class="form-group">
        <input type="text" placeholder="name" class="form-control" ng-model="$moviesCtrl.name" / >
      </div>
     <div class="form-group">
       <input type="text" placeholder="year" class="form-control" ng-model="$moviesCtrl.year" />
      <button type="button" ng-click="$moviesCtrl.getmovie()" class="btn btn-primary">Get</button>
   </div>

       <button class="btn btn-success" ng-click="$moviesCtrl.Addmovies()">Add</button>

    </div>
  </div>
</div>
  <!-- <div class="row">
  <div class="col-md-6 text center">
    <div class="alert alert-danger">
      <table class="table">
        <tr>
          <td>Title</td>
          <td>Year</td>
          <td>Poster</td>
        </tr>
        <tr ng-repeat="m in moviesCtrl.movieObj">
          <td>{{m.Title}}</td>
          <td>{{m.Year}}</td>
          <td><img src="{{m.Poster}}" /></td>
          <td><button class="btn btn-success" ng-click="moviesCtrl.Addmovies()">Add</button></td>
        </tr>
      </table>
    </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12 text-center">
      <div ng-show="$ctrl.omdbdata.Response=='False'">
        <div class="alert alert-danger">
    </div>
  </div>
    <table class="table table-default" ng-show="$moviesCtrl.omdbdata.Response=='True'">
      <thead>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Language</th>
          <th>Genre</th>
          <th>Actors</th>
          <th>Plot</th>
          <th>Poster</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align:left">
          <td rowspan="2">
            <img src={{$moviesCtrl.omdbdata.Poster}} width="90%" height="50%" ng-show="$moviesCtrl.omdbdata.Poster!='N/A'" />
            <img src="assets/images/noposter.jpg" width="150" height="200" ng-show="$moviesCtrl.omdbdata.Poster=='N/A'" />
          </td>
          <td>{{$ctrl.omdbdata.Title}}</td>
          <td>{{$ctrl.omdbdata.Year}}</td>
          <td>{{$ctrl.omdbdata.Genre}}</td>
          <td>{{$ctrl.omdbdata.Actors}}</td>
          <td>{{$ctrl.omdbdata.Director}}</td>
          <td>{{$ctrl.omdbdata.Language}}</td>
          <td>{{$ctrl.omdbdata.Plot}}</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-primary btn-lg" ng-click="$moviesCtrl.addMovie()"><span class="glyphicon glyphicon-plus"></span> Add Movie</button></td>
          <td><a class="btn btn-primary btn-lg" target="_blank" href="http://www.imdb.com/title/{{$moviesCtrl.omdbdata.imdbID}}"><span class="glyphicon glyphicon-eye-open"></span> View on IMDB</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-default table-hover">
      <caption><h3 class="text-primary"><u>Added Movies</u></h3></caption>
      <thead>
      <tr>
        <th>Title</th>
        <th>Language</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Poster</th>
        <th>Year</th>
        <th>Plot</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in $moviesCtrl.myMovies">
      <td>{{movie.Title}}</td>
      <td>{{movie.Language}}</td>
      <td>{{movie.Genre}}</td>
      <td>{{movie.Director}}</td>
      <td>{{movie.Actors}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Plot}}</td>
      <td><button type="submit" class="btn btn-danger glyphicon glyphicon-trash" ng-click="$moviesCtrl.deleteMovie(movie)"></button></td>
    </td>
    </tr>
  </tbody>
  </table>
  </div>
  </div>
</div>
