
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

<script>

  </script>
<div class="container">
  <div class="row">
    <div class="col-md-12">
         <table class="table">
  <thead>
<tr>
  <div>
  <button  id="mname" type="button" class="btn btn-primary btn-lg btn-block "></button>

<!-- <p>Date: <input type="text" id="datepicker"></p> -->
</div>
<!-- <button type="button" class="btn btn-primary btn-lg btn-block heading">{{minfo.bktitle}}</button> -->

<!-- <tr class="tablestyle"> -->
            <th>Movie Name</th><td id="mtit"></td></tr>

<tr>  <th>Location</th>
<td><select  class="form-control" ng-model="tloc">
 <option ng-repeat="t in seatbookingCtrl.minfo|unique:'location'" value="{{t.location}}">{{t.location}}</option>
</select></td></tr>

<tr class="tablestyle">
   <th>Theatre Name</th><td>
     <!-- <select class="form-control">
 <optgroup label="Select" ng-repeat="tobj in seatbookingCtrl.minfo">
         <option ng-repeat="tm in tobj.tname">{{tm}}</option></optgroup>
  </select> -->
  <select class="form-control" ng-model="tname">
<option ng-repeat="tobj in seatbookingCtrl.minfo|filter:tLoc|unique:'tname'" value="{{tobj.tname}}">{{tobj.tname}}
    </option>
</select>
    <!-- <option ng-repeat="t in seatbookingCtrl.minfo">
    </option></select> -->
  </td></tr><br>



        <!-- <tr><th><select class="form-control"> --><tr><th>
 Pick a Date:</th> <td><select class="form-control"><optgroup  ng-repeat="dt in seatbookingCtrl.minfo|filter:tLoc|filter:tname">
         <option ng-repeat="d in dt.formdate" value="{{d}}">{{d}}</option></optgroup></select>

 <!-- <input type="text" ng-change="f()" id="date" ng-model="datePicker" datepicker/> -->
 </td></tr>
 <tr><th>Showtime</th>
 <td>
   <!-- <select  class="form-control"  ng-model="seatbookingCtrl.showtime"> -->
     <!-- <option ng-repeat="s in seatbookingCtrl.minfo|filter:tLoc|filter:th" value="{{s.showtime}}" >{{s.showtime}}</option>
 </select> -->
 <select class="form-control" ng-model='showtime'><optgroup  ng-repeat="o in seatbookingCtrl.minfo|filter:tLoc|filter:tname|unique:'showtime'">
         <option ng-repeat="m in o.showtime" value="{{m}}">{{m}}</option></optgroup></select></td></tr>
</tr>
</select>
<br>
</div>
</div>
</div>

          <th>No of Tickets</th>
          <td>  <select class="" id="seats" ng-model="bking.noofTickets">Tickets
            <option value="1">1</option>
                <option value="2">2</option>
                <option  value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select></td>
          </tr>

<!-- <tr class="tablestyle"> <td> <th><a ng-click="seatbookingCtrl.show()" class="btn btn-primary">Select Your Seats</a></th><td></tr> -->

<tr class="tablestyle">
    <th>Seats Selected :</th><td><p id="st"></p></td>
  </tr>
  <tr class="tablestyle">
    <th>Total Seats : </th><td><p id="totalst"></p></td>
  </tr>
  <tr class="tablestyle">
    <th>Total Amount :</th><td>₹<p id="amt" ></p></td>
  </tr>
</tr>
</thead>
  <br>

<script>
$(document).ready(function() {
  $('.seaton').click(function() {
    var id = $(this).attr('id');
    $('#' + id).css('background-color', 'green');
  });
});
</script>


<div ng-show="seatbookingCtrl.seat" class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td>No</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
        <tr>
          <!-- <p style="font-size:36px;color:#00ff2d;">Select Your Seats:</p> -->

          <div class="content"  ng-show="goCats">
 <table class="seatLayout" >
 <div class="legend">
    <div style="
 margin-left: 22%;">
 <img src="assets/images/Seating.gif">  Available</div>
   <div style="margin-top: -5%; margin-left: 49%;">  <img src="assets/images/Seating.gif" class="padding-left">  Booked</div>
</div>
 <tbody>
   <tr class="tablestyle">
         <td class="padding-bottom"></td>
         <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="col"></td>
     </tr>
     <tr class="tablestyle" ng-repeat="row in rows">
         <td class="padding-right" ng-bind="row"></td>
         <td class="seat" ng-repeat="col in cols" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)" style="padding: 5px 5px 5px 5px;">
             <img ng-switch-when="selected" src="assets/images/Seating.gif">
             <img ng-switch-when="reserved" src="../resources/images/R_chair.gif">
             <img ng-switch-default src="assets/images/Seating.gif">
         </td>
     </tr>
 </tbody>
</table>
<div class="screen1"><img src="../resources/images/p3_r1_c1.jpg" style="width: 83%;"></div>
</div>


          <!-- <td>A</td>
          <td>
            <div class="seaton" id="A1"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>

          <td>
            <div class="seaton" id="A2"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A3"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A4"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A5"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A6"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A7"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A8"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A9"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
          <td>
            <div class="seaton" id="A10"><span class="glyphicon glyphicon-unchecked"></span></div>
          </td>
        </tr> -->


            <tr>
            <button class="button">Pay ₹</button></tr></td></div>
          <!-- <button class="btn btn-primary btn-lg" ng-click="seatbookingCtrl.addSeat(s)">pay₹</button></tr></td></div> -->
      </div>
    </div>
  </div>
